*.iml
*.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/libs/
app/src/main/res/drawable-hdpi/
app/src/main/res/drawable-mdpi/
app/src/main/res/drawable-xhdpi/
app/src/main/res/drawable-xxhdpi/
app/src/main/res/mipmap-hdpi/
app/src/main/res/mipmap-mdpi/
app/src/main/res/values-ko/
app/src/main/res/values-sw600dp/
app/src/main/res/values-sw720dp-land/
*.properties;
gradle
gradlew.bat
.idea
local.properties
gradle.properties
gradlew
app/libs
*.pro
app/src/test
app/src/androidTest



