<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keelim.practice1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.keelim.practice1.view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.keelim.practice1.view.SettingActivity" />
        <activity android:name="com.keelim.practice1.view.LostViewActivity" />
        <activity android:name="com.keelim.practice1.view.WebViewActivity" />
        <activity android:name="com.keelim.practice1.view.LostListActivity" />
        <activity android:name="com.keelim.practice1.view.SearchListActivity" />
        <activity android:name="com.keelim.practice1.view.SearchViewActivity" />
        <activity android:name="com.keelim.practice1.view.SaveListActivity" />
        <activity android:name="com.keelim.practice1.view.GuideActivity" />
        <activity android:name="com.keelim.practice1.view.SaveViewActivity" />
        <activity android:name="com.keelim.practice1.view.InfoActivity" />
        <activity android:name="com.keelim.practice1.view.FindInfoActivitiy" />
        <activity android:name="com.keelim.practice1.view.CenterInfoActivity">

        </activity>
        <activity android:name=".error.ErrorActivity" />
    </application>

</manifest>
